__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

*.jpg
*.jpeg
*.png
*.mp4
*.pptx
*.pdf
*.xlsx
*.pt

captured_*.jpg
captured_*_yoloworld_annotated.jpg
*_yoloworld_annotated.jpg

~$*.pptx
